<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/1.svg" alt="icon">
    </div>
    <div class="featuresList__title">Faster booking</div>
    <div class="featuresList__text">Your clients can book fast and easy.
    No calling required - everything online. Simply go to your website and schedule. Your clients/ patients see what’s
    available.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/2.svg" alt="icon">
    </div>
    <div class="featuresList__title">Mobile friendly</div>
    <div class="featuresList__text">No apps installation. No ads. No switching to something else while plan was to book an appointment with you.
    Works on all smartphones and mobile devices.
    No push notifications but automatic text scheduled appointments reminders and confirmations.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/3.svg" alt="icon">
    </div>
    <div class="featuresList__title">Easy payments</div>
    <div class="featuresList__text">Let your customer choose the way they like to pay when they are booking your services. Credit card, PayPal, apple pay...
    With uppointment your customers book and pay faster. Free appointments can be scheduled too - it’s up to you.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/4.svg" alt="icon">
    </div>
    <div class="featuresList__title">User’s Experience</div>
    <div class="featuresList__text">Uppointment booking form comes with best UX for your clients and optimized for most popular mobile and desktop
    devices.Even the longest customized forms are easy to fill out and book.All updates checked for compliance with all
    popular browsers.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/5.svg" alt="icon">
    </div>
    <div class="featuresList__title">Ready to use</div>
    <div class="featuresList__text">We can help to integrate uppointment into your website.No compromise on design required. Free and fast installationMany
    options to add to your website, our widget or API.Don’t have website? Send your booking form to your clients as a link.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/6.svg" alt="icon">
    </div>
    <div class="featuresList__title">Fully automatic</div>
    <div class="featuresList__text">Uppointment works even when your office closed.Customer may schedule or reschedule or cancel appointments whenever they
    are ready.With automatic confirmation.You’ll have all activities forwarded to your email, just in case.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/7.svg" alt="icon">
    </div>
    <div class="featuresList__title">Scheduled reminders</div>
    <div class="featuresList__text">Automatic reminders sent to your customers before appointments. So you have less no-show and late appointments. By email
    and/or text. Your office life and clients flow gets better organized</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/8.svg" alt="icon">
    </div>
    <div class="featuresList__title">Cancellation policy</div>
    <div class="featuresList__text">Liability waiver.
    Electronic signature.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/9.svg" alt="icon">
    </div>
    <div class="featuresList__title">Easy Integrations</div>
    <div class="featuresList__text">With 3rd party apps that your clients accustom to use. Google calendar</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/10.svg" alt="icon">
    </div>
    <div class="featuresList__title">Email campaigns</div>
    <div class="featuresList__text">Automatic reminders sent to your customers before appointments. So you have less no-show and late appointments. By email
    and/or text. Your office life and clients flow gets better organized</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/11.svg" alt="icon">
    </div>
    <div class="featuresList__title">Easy registration</div>
    <div class="featuresList__text">Simply go to your website and schedule. Your clients/ patients see what’s available.</div>
</div>
<div class="featuresList__item">
    <div class="featuresList__icon">
        <img src="assets/img/features/12.svg" alt="icon">
    </div>
    <div class="featuresList__title">Modern websites in no time</div>
    <div class="featuresList__text">Browse our large selection of ready to use websites for different business categories. Done with UX in mind,
    mobile-first design and built in Uppointment booking software in every form. Upgrade your IT presence today.</div>
</div>