<div class="mainform">
    <div class="mainform__left">
        <div class="box">
            <div class="rvtitle mainform__title">Focus on your business.</div>
            <div class="mainform__text">All our14 days free trial!<br> You won't be charged until xx/xx</div>
        </div>
    </div>
    <div class="mainform__right">
        <div class="box">
            <div class="rvtitle mainform__title">Book a call</div>
            <form action="#" class="mainform__form">
                <div class="input">
                    <label for="fullname" class="input__label">Full name</label>
                    <input type="text" class="input__textbox" placeholder="Full name" name="fullname" id="fullname">
                </div>
                <div class="input">
                    <label for="company" class="input__label">Company name</label>
                    <input type="text" class="input__textbox" placeholder="Company name" name="company" id="company">
                </div>
                <div class="input">
                    <label for="business" class="input__label">Business type</label>
                    <select name="business" id="business" class="input__selectbox" data-placeholder="Select">
                        <option value=""></option>
                        <option value="Beauty salons and Spas">Beauty salons and Spas</option>
                        <option value="GYMs and Personal Trainers">GYMs and Personal Trainers</option>
                        <option value="Medical and Dental offices">Medical and Dental offices</option>
                        <option value="Tour operators and local guides">Tour operators and local guides</option>
                        <option value="Training and Master classes">Training and Master classes</option>
                        <option value="Cleaning and Junk Removal services">Cleaning and Junk Removal services</option>
                        <option value="Limo companies and Uber drivers">Limo companies and Uber drivers</option>
                        <option value="Freelancers and Online schools">Freelancers and Online schools</option>
                        <option value="Law firms and accountants offices">Law firms and accountants offices</option>
                        <option value="Real Estate agencies and Sales people">Real Estate agencies and Sales people</option>
                        <option value="Restaurants and Bakeries">Restaurants and Bakeries</option>
                        <option value="Shipping, moving and delivery">Shipping, moving and delivery</option>
                    </select>
                </div>
                <div class="input">
                    <label for="email" class="input__label">Email</label>
                    <input type="text" class="input__textbox" placeholder="Email" name="email" id="email">
                </div>
                <div class="input">
                    <label for="phone" class="input__label">Phone</label>
                    <input type="text" class="input__textbox" placeholder="Phone" name="phone" id="phone">
                </div>
                <div class="input__btn">
                    <input type="submit" value="Select date and time">
                </div>
            </form>
        </div>
    </div>
</div>