<div class="s-programExp__item">
    <div class="s-programExp__item_header">What are Uppointment Affiliates’ responsibilities?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What are the penalties for a closed customer account?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What are the legal requirements for Affiliates?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What is work status of Uppointment’s Affiliates?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">How much does Uppointment pay?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">When are my commissions paid?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">Q: Is a W-4 required?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What will I be selling?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem.</div>
</div>