<div class="s-programExp__item">
    <div class="s-programExp__item_header">What are Uppointment Affiliates’ responsibilities?</div>
    <div class="s-programExp__item_body" style="display:none;">
        While you’re working your own hours and choosing your own way to sign up new customers, online or locally, there are
        certain responsibilities for all Uppointment Affilia:
        
        You need to have at least 10 new customers per month for the first year as an Affiliate.
        No more than 50% of the extra (over 10) sign-ups from a previous month can be transferred to the next month to make up
        for a sign-ups shortage for the current month.
        If you fail to meet the minimum number of sign-ups for 2 consecutive months or 3 months per year, your account will be
        subject to termination at our discretion. Your final payment will be made for the month when your Affiliate account is
        closed.
        You must use an ethical approach to build up your client base. Making unethical sales, such as promising something that
        you cannot provide or something that is not part of the Uppointment platform, may cause termination of your Affiliate
        account.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What are the penalties for a closed customer account?</div>
    <div class="s-programExp__item_body" style="display:none;">
        If a closed account is older than 3 months, you have nothing to worry about - this happens.
        
        If a customer’s account is closed within 3 months of it being opened, it must be replaced by a new sign-up account. We
        will not consider the replacement account as a new sign-up account in such a case.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What are the legal requirements for Affiliates?</div>
    <div class="s-programExp__item_body" style="display:none;">A:
    
    You must be a legal U.S. resident.
    You must be at least 18 years old
    You’ll need to submit a W-4 form.
    You must understand and agree to work with Uppointment as an independent contractor/freelancer, not an employee.
    You must accept Uppointment’s Terms of Use.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What is work status of Uppointment’s Affiliates?</div>
    <div class="s-programExp__item_body" style="display:none;">
        Uppointment Affiliates are independent contractors.
        
        An independent contractor is a non-employee who is running their own business.
        
        Uppointment, under no circumstance, will provide it’s independent contractors with any employee benefits including, but
        not limited to, health insurance, maternity leave and paid vacation.
        
        Uppointment also does not withhold any taxes from your commission payments. Instead, you’ll receive a 1099-tax form at
        the end of the year. You are solely responsible to report this income on your tax return and pay all necessary income
        tax and self-employment taxes (Social Security and Medicare tax) on the net profit you earn as an independent
        contractor.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">How much does Uppointment pay?</div>
    <div class="s-programExp__item_body" style="display:none;">You’ll receive at least a 40% commission from every sale of Uppointment products.
    
    Most Uppointment products are based on a monthly subscription model. You will receive your share from every payment made
    by a client for as long as their subscription remains active.
    
    Examples: You’ve sold a subscription to the Uppointment booking software at $30/month - you’ll receive a payment of $12
    every month for as long as this account remains active.
    
    If you sold a website to new client with the Uppointment booking software, the client paid a one-time payment of $120
    for the website and then pays $30/month for the subscription - you’ll receive a payment of $48 from the one-time payment
    for the website and $12 every month from the subscription.
    
    If, a year later, this client ordered website modifications for $150 - you’ll receive a payment of $60.
    
    If you’re able to accumulate more than 15 registrations per month for 6 consecutive months, we will adjust your
    commission share to 50% of your sales. Starting from that moment, you’ll receive a sales commission of 50% for ALL new
    and previous subscribers registered to your account.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">When are my commissions paid?</div>
    <div class="s-programExp__item_body" style="display:none;">Payments are made on the 1st and 15th of every month. If any of these dates lands on a weekend or US government holiday,
    the payment will be made on the next available business day.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">Q: Is a W-4 required?</div>
    <div class="s-programExp__item_body" style="display:none;">Yes, you’ll need to fill out a W-4 form.
    
    This form must be submitted to us before a payment for earnings that exceed $600 in the current calendar year can be
    processed.
    
    Example: Your payment for May was $150, so we can process your payment and you still have time to complete and send us
    this form. Your payment for June was $250, so we can still process your payment in the usual way. However, your earnings
    for July is $300, but as your total earnings with Uppointment in the current calendar year now exceed $600 ($150 + $250
    + $350 = $750), so your payments are now on-hold until we receive your W-4 form.</div>
</div>
<div class="s-programExp__item">
    <div class="s-programExp__item_header">What will I be selling?</div>
    <div class="s-programExp__item_body" style="display:none;">Uppointment offers indispensable business products to all types of businesses, such as those with store-fronts, those
    online and everything in between.
    
    Before you approach potential customers, make sure you are familiar with how our products will be able to benefit their
    business.
    - The highlights and qualities of our booking software and useful business features can be found here
    - The major benefits of our websites can be found here.
    
    You can approach potential clients in anyway that you like, such as by phone, email, online presentations or
    door-to-door sales, though you instagram or youtube accounts, just as long as you do not use any unethical methods (such
    as spamming for example).
    
    Below are some possible scenarios:
    
    For new businesses with no website or old business with an outdated website.
    - Offer a website. Site will go live within 1-2 days plus all the other advantages you already know. Regarding adding
    content to the website, please read here.
    - Offer booking software and fully customizable features to all be built in.
    Business has a working website but no booking software, just forms.
    - Offer integration of the booking software into their current website.
    Business already has a website and booking software.
    - Inform them on the prices for website maintenance (support, hosting, SSL)
    - Explain why our website booking software is better, in addition to being inexpensive.
    If your sales pitch does not initially work on certain clients and you need to sweeten the deal, you may consider
    offering:
    - a free month subscription or even two.
    - website discount of up to 50%. Check out our templates for the prices.</div>
</div>