<p><i>Thanks for your interest in Uppointment’s Affiliates Program. This Uppointment Affiliate Agreement (“Terms”)
        describe your rights and responsibilities as an Affiliate of Uppointment (“Affiliate”). These Terms are
        between you and the Uppointment Inc. that owns the Uppointment website, web and mobile applications that you
        are using or accessing listed here (“Uppointment”, “we” or “us”). “You” refers to the entity you represent
        in accepting these Terms or, if that does not apply, you as an individual.</i></p>
<p><i>In these Terms, the words "including" and "include" mean "including, but not limited to."</i></p>
<p><i>By creating an account as an affiliate of Uppointment (“Affiliate”), you acknowledge that you have read,
        understood, and agree to be bound by the terms and conditions of the Program’s Terms of Service (“Affiliate
        Agreement”), which constitute a binding agreement between us, and also acknowledge that the collection and
        use of your information will be as set forth in our privacy policy, whether or not you are a registered user
        of the Uppointment Services.</i></p>
<p><i>If you are accepting these Terms on behalf of your employer or another entity, you represent and warrant that:
        (a) you have full legal authority to bind your employer or such an entity to these Terms; (b) you have read
        and understood these Terms; and (c) you agree to these Terms on behalf of the party that you represent. If
        you do not have the legal authority to represent your employer or the applicable entity, you may not click
        “I agree” (or similar button or checkbox) that is presented to you. Please note that if you sign up for
        Affiliate Program using an email address owned by your employer or another entity, then (a) you will be
        deemed to represent such party; (b) your click to accept at your registration will bind your employer or
        that entity to these terms; and (c) the word “you” in these Terms will refer to your employer or that
        entity.</i></p>
<p><i>These Terms are entered into as of the date (the "Effective Date") the party whose name is set forth below
        (the "Affiliate") accepts these terms and conditions by creating an account and is by and between
        Uppointment, Inc. ("Uppointment"), a Delaware corporation, and the Affiliate.</i></p>
<p><i>Uppointment provides online services and products (“Services”) which allows its customers to use online
        appointment and booking software, customer relationship management (CRM) software, pre-made websites, and
        request and order forms, and operates the websites set forth below. The Parties will be bound by this
        Agreement that sets forth the terms and conditions under which an Affiliate will promote Uppointment's
        products and services. The products and services are those that are offered for sale in the form of a
        subscription or one-time purchase from uppointment.com. Uppointment may terminate its Affiliate Program at
        any time. Additionally, Uppointment may impose additional requirements and conditions, modify the payment
        amounts, or otherwise modify this Affiliate Agreement by posting an update on the Uppointment website.</i>
</p>
<p><i>The Parties agree to the following:</i></p>
<ol>
    <li>
        1. <b>Definitions.</b> For the purposes of this Affiliate Agreement, the following terms will have the
        indicated definitions
        <span>a. <b>"Uppointment's Site"</b> Means the Uppointment website located at uppointment.com and
            Uppointment Affiliates website located at partners.uppointment.com</span>
        <span>b. <b>"Intellectual Property"</b> Means all patent rights, copyright rights, moral rights, rights of
            publicity, trademarks, trade dress and service mark rights, goodwill, trade secret rights and other
            intellectual property rights as may now exist or hereafter come into existence, and all applications
            therefore and registrations, renewals and extensions thereof, under the laws of any state, country,
            territory or other jurisdiction.</span>
        <span>c. <b>"Marks"</b> Means all trademarks, service marks, trade names, logos, words or symbols
            identifying either Party or either Party’s respective products or services. Party or Parties means
            Uppointment and/or Affiliate. Uppointment's Marks include the name “Uppointment”.</span>
        <span>d. <b>"Qualified Customers"</b> Means businesses or individuals who purchase any product or service
            from Uppointment and who are referred to Uppointment by an Affiliate.</span>
        <span>e. <b>"Qualified Subscribers"</b> Means persons who sign up for a paid Uppointment plan who are
            referred to Uppointment by an Affiliate.</span>
    </li>
    <li>
        2. <b>Trademark License Grant.</b>
        <span>a. <b>Grants to Affiliate.</b> Subject to the terms and conditions of this Affiliate Agreement,
            Uppointment grants the Affiliate a non-transferable, non-exclusive, revocable, license to use
            Uppointment's Marks solely for the purpose of fulfilling the Affiliate’s obligations hereunder. All use
            of the Uppointment's Marks inures to the benefit and goodwill of Uppointment.</span>
        <span>b. <b>No Other Rights.</b> Except as expressly provided herein, the Affiliate agrees to: <br>Not use
            the Uppointment Marks without the prior written consent from Uppointment. <br>Upon termination of this
            Affiliate Agreement for any reason, immediately cease all use of Uppointment ’s Marks.</span>
    </li>
    <li>
        3. <b>Products and Services</b>
        <span>a. <b>Control.</b> Uppointment reserves the right at any time without liability or prior notice
            to:</span>
        <ul>
            <li>Determine the contents of its websites, products and services, including specifications, features
                and functions, as well as any documentation or related materials.</li>
            <li>Discontinue distribution of any or all of its products and services in some or all markets or
                through some or all channels of distribution.</li>
            <li>Change or terminate any of its features or functions of their products and services.</li>
            <li>Change or terminate the level or type of support or service that it makes available for its products
                and services at any time and without notice. Uppointment may cancel any orders for discontinued
                products or services without liability.</li>
        </ul>
        <span>b. <b>Service Support.</b> Uppointment provides Qualified Customers priority support through its
            Affiliates. An Affiliate’s customers can’t contact the support team directly. If a Qualified Customer
            contacts us directly, they will be removed from the Affiliate's account and no further payments for such
            a customer will be made to the Affiliate. Furthermore, Uppointment will do their best to provide the
            Affiliate with the necessary customer support for their customers, but are not responsible for any loss
            of customers or income arising from the support provided.</span>
    </li>
    <li>
        4. <b>Compensation.</b>
        <span>a. <b>Commission.</b> Uppointment will pay an Affiliate a commission, provided that the Affiliate
            remains an active Affiliate as of the payment date, equal to:</span>
        <ul>
            <li>Uppointment Products and Services: 40% of the price actually paid by a Qualified Customer, excluding
                any refunds and/or taxes, for each sale of any Uppointment product or service to Qualified
                Customers.</li>
            <li>Uppointment Subscription Plans: 40% of the price actually paid by a Qualified Subscriber, excluding
                any refunds and/or taxes, for each sale and thereafter each invoice paid for an Uppointment plan by
                Qualified Subscribers.</li>
            <li>High-flyer Bonus: If more than 15 registrations per month for 6 consecutive months is achieved, the
                commission share will be 50% of sales.</li>
        </ul>
        <span>b. <b>Excluded Sale</b> means a sale to:</span>
        <ul>
            <li>Customers who have previously signed-up to Uppointment through another Affiliate or service for any
                period of time.</li>
            <li>Customers who signed-up using Uppointment customer support services.</li>
            <li>Customers who canceled their original Uppointment paid subscription and re-opened their account
                later. Affiliates do not resume receiving earnings for that customer.</li>
            <li>Customers who sign-up for any of Uppointment’s paid plans after being accounted for as a Qualified
                Customer or Qualified Subscriber through another active Affiliate for any products or services.</li>
        </ul>
        <span>c. <b>Taxes.</b> oth Affiliate and Uppointment are responsible for the payment of any/all of their
            respective taxes.</span>
        <span>d. <b>Payment.</b> Unless otherwise agreed by the parties in writing, Uppointment shall make all
            necessary payments requests according to published timeframes, and in the method selected by the
            Affiliate during the payment setup process. Available payment methods are subject to change. Payment
            requests may only be made if the total amount owed totals at least $50 and payments will be made when a
            request has been submitted. Payments are made on the 1st and 15th of each month. Unpaid amounts owing
            shall accrue until the next month in which the amount owed is at least $50. Uppointment reserves the
            right to withhold payment or order a chargeback from your account any amounts otherwise owed to us under
            these Terms, or amounts owing for any breach of these Terms by the Affiliate, pending Uppointment 's
            reasonable investigation of such a breach. To ensure proper payment, the Affiliate is solely responsible
            for providing and maintaining accurate contact and payment information associated with the Affiliate’s
            account, which includes, without limitation, applicable tax information. If we believe that we are
            obligated to obtain tax information, and the Affiliate does not provide this information to us after we
            have requested it, we may withhold payments to the Affiliate until they provide this information or
            otherwise satisfy us that they are not a person or entity from whom we are required to obtain tax
            information. Any third-party fees related to returned or canceled payments arising from a contact or
            payment information error or omission may be deducted from the newly issued payment. The Affiliate
            agrees to pay all applicable taxes or charges imposed by any government entity in connection with the
            Affiliates participation in the Program. If an Affiliate disputes any payment, they must notify
            Uppointment in writing within thirty (30) days of such a payment. Failure to so notify Uppointment shall
            result in the waiver by the Affiliate of any claim relating to such disputed payment. Payment shall be
            calculated solely based on records maintained by Uppointment. No other measurements or statistics of any
            kind shall be accepted by Uppointmentor have any effect under these Terms. We may withhold any taxes or
            other amounts from payments owed to the Affiliate as required by law. To protect against the risk of
            liability, we may request that our payment service provider hold an Affiliate’s funds based on certain
            factors, including Affiliate history, performance, the riskiness of the business category or the filing
            of a dispute claim. No payment will be owed in the event that Uppointment determines, in its discretion,
            that an Affiliate has engaged, directly or indirectly in fraud or any other practices that are likely to
            harm the reputation of Uppointment.</span>
    </li>
    <li>
        5. <b>Ownership.</b> Each Party retains all rights, titles and interests, including all Intellectual
        Property Rights in and to (a) its Marks, Content and Site, and (b) any new inventions, developments or
        technology resulting from or in connection with the performance of such Party’s obligations. Except as
        expressly set forth in Section 2, each Party reserves all rights and grants the other Party no licenses of
        any kind.
    </li>
    <li>
        6. <b>Term and Termination.</b>
        <span>a. <b>Term.</b> The term of this Affiliate Agreement shall commence on the Effective Date and end one
            (1) year from the Effective Date (the "Term") and the Term will automatically renew for consecutive one
            (1) year periods; provided that either Party may terminate this Affiliate agreement at any time with ten
            (10) days prior written notice.</span>
        <span>b. <b>Termination for Cause.</b> If either Party defaults in the performance of any material provision
            of this Affiliate Agreement, the non-defaulting Party may terminate this Affiliate Agreement
            immediately.</span>
        <span>c. <b>Termination for Insolvency and Related Events.</b> This Affiliate Agreement shall terminate,
            without notice, (i) upon the institution by or against either Party of insolvency, receivership or
            bankruptcy proceedings or any other proceedings for the settlement of such Party’s debts, (ii) upon
            either Party making an assignment for the benefit of creditors, or (iii) upon either Party’s dissolution
            or ceasing to do business.</span>
        <span>d. <b>Effect of Termination.</b> Upon termination of this Affiliate Agreement, the Affiliate will
            discontinue all further promotion of Uppointment's products and services pursuant to this Affiliate
            Agreement. Without limiting the generality of the foregoing, the Affiliate will cease all display,
            advertising and use of all of Uppointment's Marks, and will not thereafter use, advertise or display any
            such Marks unless otherwise agreed upon by Uppointment in writing.</span>
        <span>d. <b>Survival of Certain Terms.</b> The provisions of Section 1 and Sections 5-11 of this Affiliate
            Agreement shall survive the expiration or termination of this Affiliate Agreement for any reason. All
            other rights and obligations of the Parties shall cease upon termination of this Affiliate
            Agreement.</span>
    </li>
    <li>
        7. <b>Warranty.</b> The Affiliate represents, covenants and warrants that:
        <span>a. It has the power to enter into and perform its obligations under this Affiliate Agreement;</span>
        <span>b. The Affiliate complies with all applicable laws and regulations and the Affiliate shall not do
            anything or omit to do anything which would or may constitute to be a breach of any laws or regulations
            applicable to the Affiliate in any jurisdiction (including all applicable rules and regulations relating
            to financial and/or markets or exchanges, investment services, marketing and advertising, privacy and
            data collection, and/or anti-bribery and anti-corruption);</span>
        <span>c. The Affiliate shall not process any Personal Data from the Investopedia Site or the Links
            contained. "Personal Data" means any information that (a) can be used to identify, contact or locate
            Qualified Customers including, name, address, telephone number, email address, credit or debit card
            number, and government-issued identification number or (b) can be used in conjunction with other
            personal or identifying information to identify or locate a specific individual, including, for example,
            a persistent identifier, such as a customer number held in a "cookie" or processor serial number;
            and</span>
        <span>d. The Affiliate shall not engage in, procure or encourage any third party to engage in, any activity
            or behavior which is illegal, is in bad faith, and is not in the spirit of the terms of this Affiliate
            Agreement.</span>
    </li>
    <li>
        8. <b>Warranty Disclaimer.</b> Uppointment's PRODUCTS AND SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE."
        EXCEPT AS STATED ABOVE IN SECTION 7, NEITHER PARTY MAKES ANY REPRESENTATIONS OR WARRANTIES, EXPRESS,
        IMPLIED, STATUTORY OR OTHERWISE, WITH RESPECT TO ITS PRODUCTS OR ANY PART THEREOF, INCLUDING, WITHOUT
        LIMITATION, ANY IMPLIED WARRANTY OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
        NON-INFRINGEMENT, OR THOSE ARISING FROM A COURSE OF PERFORMANCE, DEALING, USAGE OR TRADE. WITHOUT LIMITING
        THE GENERALITY OF THE FOREGOING, NEITHER PARTY WARRANTS THAT ITS PRODUCTS OR SERVICES WILL BE FREE OF
        DEFECTS, INACCURACIES, OR ERRORS, WILL MEET THE OTHER PARTY’S OR ANY CUSTOMERS’ REQUIREMENTS OR WILL COMPLY
        WITH APPLICABLE LAWS.
    </li>
    <li>
        9. <b>Indemnity.</b> The Affiliate shall indemnify Uppointment and its officers, directors, employees,
        representatives, agents, successors and permitted assigns, against all liabilities, costs, expenses, damages
        and losses, penalties and reasonable legal costs (calculated on a full indemnity basis) and all other
        reasonable professional costs and expenses suffered or incurred by the other party arising out of or in
        connection with any breach of the representations or warranties contained in the Affiliate Agreement.
    </li>
    <li>
        10. <b>Limitation of Liability.</b> EXCEPT WITH RESPECT TO A BREACH OF SECTION 7 OR INDEMNIFICATION
        OBLIGATIONS PURSUANT TO SECTION 9, IN NO EVENT WILL EITHER PARTY BE LIABLE UNDER ANY THEORY OF LIABILITY FOR
        ANY INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, EXEMPLARY, OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING,
        WITHOUT LIMITATION, ANY SUCH DAMAGES ARISING FROM A BREACH OF CONTRACT OR WARRANTY, OR FROM NEGLIGENCE OR
        STRICT LIABILITY), INCLUDING, WITHOUT LIMITATION, LOSS OF PROFITS, REVENUE, OR FROM ANY DEFECT OR ERROR IN
        ITS PRODUCTS OR SERVICES, EVEN IF A PARTY HAS BEEN ADVISED OR SHOULD KNOW OF THE POSSIBILITY OF SUCH
        DAMAGES. IN NO EVENT WILL THE AGGREGATE LIABILITY OF UPPOINTMENT ARISING FROM, RELATING TO, OR IN CONNECTION
        WITH THIS AFFILIATE AGREEMENT EXCEED THE AMOUNTS PAID TO THE AFFILIATE UNDER THIS AFFILIATE AGREEMENT.
    </li>
    <li>
        11. <b>General.</b>
        <span>a. <b>Independent Contractor.</b> Neither Party shall be deemed to be an agent of the other Party for
            any purpose, and the relationship between the Parties shall only be that of independent contractors.
            Neither Party shall have any right or authority to assume or create any obligations or to make any
            representations or warranties on behalf of any other Party, whether express or implied, or to bind the
            other Party in any respect whatsoever.</span>
        <span>b. <b>Governing Law and Jurisdiction.</b> This Affiliate Agreement is governed and interpreted in
            accordance with the laws of the State of New York, U.S.A. without reference to conflicts of laws
            principles and excluding the United Nations Convention on Contracts for the Sale of Goods. The Parties
            consent to the exclusive jurisdiction of, and venue in, Kings County, New York, U.S.A. for the
            adjudication of any disputes arising hereunder.</span>
        <span>c. <b>Class Action Waiver.</b> TO THE MAXIMUM EXTENT PERMITTED BY LAW, ALL CLAIMS MUST BE BROUGHT IN
            THE FILING PARTY’S INDIVIDUAL CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
            REPRESENTATIVE PROCEEDING, AND, UNLESS UPPOINTMENT AGREES OTHERWISE, THE ARBITRATOR MAY NOT CONSOLIDATE
            MORE THAN ONE PERSON’S CLAIMS. THE AFFILIATE AGREES THAT, BY ENTERING INTO THIS AGREEMENT, THE AFFILIATE
            AND UPPOINTMENT ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS
            ACTION.</span>
        <span>d. <b>Assignment.</b> Neither Party shall assign, delegate, or otherwise transfer its rights or
            obligations under this Affiliate Agreement, by operation of law or otherwise, without the prior written
            consent of the other Party (to be granted or withheld in its reasonable discretion); except that
            Uppointment may assign this Affiliate Agreement freely in connection with a merger, acquisition, sale of
            substantially all of its assets or stock, financing, reorganization, or similar transaction. This
            Affiliate Agreement will inure to the benefit of the Parties and their permitted successors and
            assigns.</span>
        <span>e. <b>Merger, Modification and Waiver.</b> This Affiliate Agreement constitutes the entire agreement
            between Uppointment and the Affiliate with respect to the subject matter hereof, and merges all prior
            negotiations and drafts of the Parties with regard thereto. No modification of or amendment to this
            Affiliate Agreement, nor any waiver of any rights under this Affiliate Agreement shall be effective
            unless in writing. The waiver of one breach or default or any delay in exercising any rights shall not
            constitute a waiver of any subsequent breach or default.</span>
        <span>f. <b>Severability.</b> If any of the provisions of this Affiliate Agreement is held by a court of
            competent jurisdiction to be invalid or unenforceable under any applicable statute or rule of law, it
            shall be replaced with a valid provision that most closely reflects the intent of the Parties and the
            remaining provisions shall continue in full force and effect.</span>
    </li>
</ol>